@page "/Freecodecamp"

<PageTitle>FreeCodeCamp</PageTitle>

<h1><strong>My certifications from FreeCodeCamp</strong></h1>

<main>

<!-- Carousel -->

    <p>
        <a href="https://moodle.ifrs.edu.br/mod/simplecertificate/verify.php" class="btn btn-primary my-2">Instituto Federal do Rio Grande do Sul (IFRS)<br>Verificação de Certificado</a>
        <a href="https://aprendamais.mec.gov.br/mod/simplecertificate/verify.php" class="btn btn-primary my-2">Plataforma Aprenda Mais MEC<br>Verificação de Certificado</a>
    </p>
   

<div class="certificado-container">
    <div class="certificado-item">
        <img src="imagens/1-HTML5_Fundamentos_para_Construção_de_Páginas_Web_Modernas-Certificado_digital_3698797-imagens-0.jpg" class="certificado-img" alt="Slide 1" />
    </div>

    <div class="certificado-item">
        <img src="imagens/2-CSS3_Estilizando_Páginas_Web_com_Estilo-Certificado_digital_3692573_page-0001.jpg" class="certificado-img" alt="Slide 2" />
    </div>

    <div class="certificado-item">
        <img src="imagens/3-Computacao_Fundamentos-Certificado_digital_3658477_page-0001.jpg" class="certificado-img" alt="Slide 3" />
    </div>

    <div class="certificado-item">
        <img src="imagens/4-Google_Drive-Certificado_digital_3679880_page-0001.jpg" class="certificado-img" alt="Slide 4" />
    </div>

    <div class="certificado-item">
        <img src="imagens/5-Windows_Server_2016Certificado_digital_page-0001.jpg" class="certificado-img" alt="Slide 5" />
    </div>

    <div class="certificado-item">
        <img src="imagens/6-Windows_Server_2016_active_directory-Certificado_digital_3688004_page-0001.jpg" class="certificado-img" alt="Slide 6" />
    </div>

    <div class="certificado-item">
        <img src="imagens/7-Logica_de_Programacao_comecando_a_desenvolver_seus_primeiros_programas-Certificado_digital_3707591_page-0001.jpg" class="certificado-img" alt="Slide 7" />
    </div>

    <div class="certificado-item">
        <img src="imagens/8-Banco_de_Dados_1_fundamentos-Certificado_digital_3295171_page-0001.jpg" class="certificado-img" alt="Slide 8" />
    </div>

    <div class="certificado-item">
        <img src="imagens/9-Certificado_digital_Curso_de_Sistema_Operacionais_page-0001.jpg" class="certificado-img" alt="Slide 9" />
    </div>

    <div class="certificado-item">
        <img src="imagens/10-Comunicação_Empresarial-Certificado_digital_3251363_page-0001.jpg" class="certificado-img" alt="Slide 10" />
    </div>

    <div class="certificado-item">
        <img src="imagens/11-Manutencao_de_Computadores_hardware,_software_e_evolucao-Certificado_digital_3292177_page-0001.jpg" class="certificado-img" alt="Slide 11" />
    </div>

    <div class="certificado-item">
        <img src="imagens/12-Manutencao_de_Computadores_simuladores,_sistemas_operacionais_e_montagem-Certificado_digital_3292338_page-0001.jpg" class="certificado-img" alt="Slide 12" />
    </div>

    <div class="certificado-item">
        <img src="imagens/13-Python_Fundamental_1-Certificado_digital_3318146_page-0001.jpg" class="certificado-img" alt="Slide 13" />
    </div>

    <div class="certificado-item">
        <img src="imagens/14-Banco_de_Dados_1_fundamentos-Certificado_digital_3758393-1.jpg" class="certificado-img" alt="Slide 14" />
    </div>

    <div class="certificado-item">
        <img src="imagens/15-Descoberta_de_Conhecimento_em_Bases_de_Dados_fundamentos-Certificado_digital_3760501-1.jpg" class="certificado-img" alt="Slide 15" />
    </div>

    <div class="certificado-item">
        <img src="imagens/16-Programador_Web-Certificado_digital_3736094-1.jpg" class="certificado-img" alt="Slide 16" />
    </div>

    <div class="certificado-item">
        <img src="imagens/17-Projeto_de_Sistemas_Web-Certificado_digital_3422997-1.jpg" class="certificado-img" alt="Slide 17" />
    </div>

    <div class="certificado-item">
        <img src="imagens/18-Softwares_de_Seguranca_da_Informacao-Certificado_digital_3409547-1.jpg" class="certificado-img" alt="Slide 18" />
    </div>
</div>
</main>
<footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          &copy; 2017–2025 Company, Inc. &middot;
          <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
        </p>
      </footer>

