@page "/IFRS"

<PageTitle>IFRS</PageTitle>

<h1><strong>My certifications from IFRS</strong></h1>
<main>

<!-- Carousel -->

    <p>
        <a href="https://moodle.ifrs.edu.br/mod/simplecertificate/verify.php" class="btn btn-primary my-2">Instituto Federal do Rio Grande do Sul (IFRS)<br>Verificação de Certificado</a>
        <a href="https://aprendamais.mec.gov.br/mod/simplecertificate/verify.php" class="btn btn-primary my-2">Plataforma Aprenda Mais MEC<br>Verificação de Certificado</a>
    </p>
   

<div class="certificado-container">
    <div class="certificado-item">

            <div class="certificado-item">
        <img src="imagens/16-Programador_Web-Certificado_digital_3736094-1.jpg" class="certificado-img" alt="Slide 16" />
    </div>
    </div>

    <div class="certificado-item">
        <img src="imagens/1-HTML5_Fundamentos_para_Construção_de_Páginas_Web_Modernas-Certificado_digital_3698797-imagens-0.jpg" class="certificado-img" alt="Slide 1" />
    </div>

    <div class="certificado-item">
        <img src="imagens/2-CSS3_Estilizando_Páginas_Web_com_Estilo-Certificado_digital_3692573_page-0001.jpg" class="certificado-img" alt="Slide 2" />
    </div>

    <div class="certificado-item">
        <img src="imagens/3-Computacao_Fundamentos-Certificado_digital_3658477_page-0001.jpg" class="certificado-img" alt="Slide 3" />
    </div>

    <div class="certificado-item">
        <img src="imagens/4-Google_Drive-Certificado_digital_3679880_page-0001.jpg" class="certificado-img" alt="Slide 4" />
    </div>

    <div class="certificado-item">
        <img src="imagens/5-Windows_Server_2016Certificado_digital_page-0001.jpg" class="certificado-img" alt="Slide 5" />
    </div>

    <div class="certificado-item">
        <img src="imagens/6-Windows_Server_2016_active_directory-Certificado_digital_3688004_page-0001.jpg" class="certificado-img" alt="Slide 6" />
    </div>

    <div class="certificado-item">
        <img src="imagens/8-Banco_de_Dados_1_fundamentos-Certificado_digital_3295171_page-0001.jpg" class="certificado-img" alt="Slide 8" />
    </div>

    <div class="certificado-item">
        <img src="imagens/9-Certificado_digital_Curso_de_Sistema_Operacionais_page-0001.jpg" class="certificado-img" alt="Slide 9" />
    </div>

    <div class="certificado-item">
        <img src="imagens/14-Banco_de_Dados_1_fundamentos-Certificado_digital_3758393-1.jpg" class="certificado-img" alt="Slide 14" />
    </div>

    <div class="certificado-item">
        <img src="imagens/15-Descoberta_de_Conhecimento_em_Bases_de_Dados_fundamentos-Certificado_digital_3760501-1.jpg" class="certificado-img" alt="Slide 15" />
    </div>



</div>
</main>

<footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          &copy; 2017–2025 Company, Inc. &middot;
          <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
        </p>
      </footer>

