@page "/"

<PageTitle>Home</PageTitle>

<h1 style="text-align:center;"><strong>Welcome to my official App Certificates Rafael</strong></h1>
<hr />
<div Id="homedesc1" style="text-align:center;">
<h2>C# Developer ├── Developer Apps com .NET ├── Front-End</h2>
</div>
<hr />
<div id="homedesc2" style="text-align:center;">
<p>Here you will find all my Official Microsoft - Roadmap - IFRS - IFSC - FreecodeCamp - Certificates.</p>
<p>Microsoft Learn Platform</p>
<p>Roadmap.sh Platform</p>
<p>IFRS - Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul</p>
<p>Platform Aprenda Mais (MEC)</p>
<p>Platform FreecodeCamp</p>
<p>Feel free to explore and verify my credentials.</p>
</div>

<div style="text-align:center; margin-top:20px;">
<a href="https://roadmap.sh/befriend?u=692ada3cbd486ea4601f68a9">
<img 
src="https://roadmap.sh/card/wide/692ada3cbd486ea4601f68a9?variant=dark&roadmaps=html%2Caspnet-core" 
alt="roadmap.sh" 
style="width:100%; height:auto; display:block;" />
</a>
</div>