name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'

      - name: Publish Project
        run: dotnet publish -c Release -o release

      - name: Fix for GitHub Pages
        run: |
          # Adiciona o arquivo .nojekyll
          touch release/wwwroot/.nojekyll
          # Ajusta o base href no index.html para o nome do seu repo
          sed -i 's/<base href="\/" \/>/<base href="\/Blazor-AppWeb\/" \/>/g' release/wwwroot/index.html
          # Cria o 404.html baseado no index.html
          cp release/wwwroot/index.html release/wwwroot/404.html

      - name: Upload to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: release/wwwroot
          branch: gh-pages
          clean: true