name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x' # Ou a versão que você está usando

      - name: Publish Project
        run: dotnet publish Certificados/Blazor-AppWeb/Blazor-AppWeb.csproj -c Release -o release

      - name: Change base-tag in index.html
        run: sed -i 's/<base href="\/" \/>/<base href="\/Blazor-AppWeb\/" \/>/g' release/wwwroot/index.html

      - name: Upload to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: release/wwwroot
          branch: gh-pages